* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

h1{
  font-family: Arial, sans-serif;
  font-size: 35px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}

.loader {
  width: 70px;
  height: 70px;
  border: 10px solid #ffffff;
  border-bottom-color: #ff7300;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
  position: absolute;
  top: 50%;
  left: 45%;
}
.none {
  display: none;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
